<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active rentals widget</title>
</head>
<body>
<div th:fragment="activeRentalsWidget(activeRentals, role)" class="widget active-rentals-widget">
    <div class="widget-header">
        <h2 th:text="|Active rentals (${role}) |">Active rentals (role) </h2>
    </div>

    <ul class="rental-list">

        <li th:each="rental : ${activeRentals}" class="rental-item">

            <img th:if="${rental.item.primaryImageId != null}"
                 th:src="@{/api/items/{itemId}/images/{imageId}(itemId=${rental.item.id}, imageId=${rental.item.primaryImageId})}"
                 th:alt="${rental.item.title}" class="item-thumbnail">

            <img th:unless="${rental.item.primaryImageId != null}"
                 th:src="@{/images/placeholder.jpg}"
                 alt="No image"
                 class="item-thumbnail" />

            <div class="rental-info">
                <h4 th:text="${rental.item.title}">Fishing rod</h4>

                <p class="due-date">
                    Due date: <strong th:text="${#temporals.format(rental.endDate, 'dd MMM yyyy')}">18 Lug 2026</strong>
                </p>

            </div>

            <button th:if="${role == 'Owner'}" class="return-item-button" th:data-rental-id="${rental.id}">Confirm return</button>

        </li>

        <li th:if="${#lists.isEmpty(activeRentals)}" class="empty-state">
            <span>You don't have any active rentals </span>
            <a href="/">Explore the catalog!</a>
        </li>
    </ul>
</div>
</body>
</html>