<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="favoritesWidget" class="widget user-favorite-items-">
    <div class="widget-header">
        <h2>Your favorites</h2>
        <a href="/" class="link-view-all">View all</a>
    </div>

    <div class="items-scroll-container">

        <a th:each="fav : ${favorites}" th:href="@{/item/{id}(id=${fav.item.id})}" class="item-card">

            <div class="item-image-wrapper">
<!--                <img th:src="${fav.item.primaryImage}" th:alt="${fav.item.title}" class="fav-image">-->
                <span class="item-icon">♥️</span>
            </div>

            <div class="item-info">
                <h5 class="item-title" th:text="${fav.item.title}">Grass cutter</h5>
                <span class="item-price" th:text="|€ ${fav.item.pricePerDay}/day|">€ 15/g</span>
            </div>

        </a>

        <div th:if="${#lists.isEmpty(favorites)}" class="empty-state" id="items-empty-state">
            No saved favorite
        </div>

    </div>
</div>
</body>
</html>