<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="favoritesWidget" class="widget favorites-list">
    <div class="widget-header">
        <h2>Your favorites</h2>
        <a href="/" class="link-view-all">View all</a>
    </div>

    <div class="favorites-scroll-container">

        <a th:each="fav : ${favorites}" th:href="@{/item/{id}(id=${fav.item.id})}" class="favorite-card">

            <div class="fav-image-wrapper">
<!--                <img th:src="${fav.item.primaryImage}" th:alt="${fav.item.title}" class="fav-image">-->
                <span class="fav-icon">♥️</span>
            </div>

            <div class="fav-info">
                <h5 class="fav-title" th:text="${fav.item.title}">Grass cutter</h5>
                <span class="fav-price" th:text="|€ ${fav.item.pricePerDay}/day|">€ 15/g</span>
            </div>

        </a>

        <div th:if="${#lists.isEmpty(favorites)}" class="empty-state" id="favorites-empty-state">
            No saved favorite
        </div>

    </div>
</div>
</body>
</html>