<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
    <nav th:fragment="nav">
        <div class="nav-fragment">
            <a href="/">Catalog</a>
            <a href="/dashboard">My Dashboard</a>
            <a sec:authorize="isAuthenticated()" href="/createItem">Create item</a>
        </div>
        <div class="nav-fragment">
            <a sec:authorize="isAnonymous()" href="/signin">Sign in</a>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit" class="btn-logout">Logout</button>
            </form>
        </div>
    </nav>

</body>
</html>