<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="paginationContainer" class="pagination-container" th:if="${itemPage.totalPages > 1}">
    <ul class="pagination-list">

        <li class="page-item" th:classappend="${!itemPage.hasPrevious()} ? 'disabled'">
            <a class="page-link" th:href="@{/(page=${itemPage.number - 1}, size=${itemPage.size})}">
                &laquo; Prev
            </a>
        </li>

        <li class="page-item"
            th:each="i : ${#numbers.sequence(0, itemPage.totalPages - 1)}"
            th:classappend="${i == itemPage.number} ? 'active'">
            <a class="page-link"
               th:href="@{/(page=${i}, size=${itemPage.size})}"
               th:text="${i + 1}">1</a>
        </li>

        <li class="page-item" th:classappend="${!itemPage.hasNext()} ? 'disabled'">
            <a class="page-link" th:href="@{/(page=${itemPage.number + 1}, size=${itemPage.size})}">
                Next &raquo;
            </a>
        </li>

    </ul>
</div>
</body>
</html>