<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/itemsListWidget.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/financialSummaryWidget.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/transactionsWidget.css}">
</head>
<body>
    <nav th:replace="~{fragments/general/nav :: nav}">
    </nav>

    <h1 th:text="|${user.firstName} ${user.lastName}|">User name</h1>

    <main class="dashboard-grid">
        <div th:replace="~{fragments/dashboard/activeRentalsWidget :: activeRentalsWidget(activeRentals=${activeRentalsAsBorrower}, role='Borrower')}">...</div>

        <div th:replace="~{fragments/dashboard/activeRentalsWidget :: activeRentalsWidget(activeRentals=${activeRentalsAsOwner}, role='Owner')}">...</div>

        <div th:replace="~{fragments/dashboard/financialSummaryWidget :: financialSummaryWidget}">...</div>

        <div th:replace="~{fragments/dashboard/transactionsWidget :: transactionsWidget}">...</div>

        <div th:replace="~{fragments/dashboard/favoritesWidget :: favoritesWidget}">...</div>

        <div th:replace="~{fragments/dashboard/userItemListingsWidget :: userItemListingsWidget}">...</div>
    </main>

    <footer th:insert="~{fragments/general/footer :: footer}">
    </footer>

</body>
</html>