<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/favoritesWidget.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard/financialSummaryWidget.css}">
</head>
<body>
    <nav th:replace="~{fragments/nav :: nav}">
    </nav>

    <main class="dashboard-grid">
        <div th:replace="~{fragments/activeRentalsWidget :: activeRentalsWidget}">...</div>

        <div th:replace="~{fragments/financialSummaryWidget :: financialSummaryWidget}">...</div>

        <div th:replace="~{fragments/favoritesWidget :: favoritesWidget}">...</div>
    </main>

    <div th:insert="~{fragments/footer :: footer}">
    </div>

</body>
</html>