<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <nav th:replace="~{fragments/nav :: nav}">
    </nav>

    <main class="signin">
        <h2>Sign in with your credentials</h2>
        <form>
            <div class="input-container">
                <label for="email-input">email</label>
                <input id="email-input" type="text" name="email" placeholder="john.doe@gmail.com">
            </div>

            <div class="input-container">
                <label for="password-input">password</label>
                <input id="password-input" type="password" name="password" placeholder="Valid password">
            </div>

            <button type="submit">Submit</button>
        </form>

        <br>

        <div>
            <span>Do you need to create an account?</span>
            <a href="/signup">Sign up</a>
        </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}">
    </footer>
</body>
</html>