<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <li th:fragment="catalogCard(item)" class="catalog-card">
        <div class="card-image-wrapper">
            <img th:if="${item.primaryImageId != null}"
                 th:src="@{/api/items/{itemId}/images/{imageId}(itemId=${item.id}, imageId=${item.primaryImageId})}"
                 th:alt="${item.title}" class="card-image">
            <img th:unless="${item.primaryImageId != null}" th:src="@{/images/placeholder.jpg}" th:alt="${item.title}" class="card-image">
            <span class="card-category" th:text="${item.condition}">Condition placeholder</span>
        </div>

        <div class="card-content">
            <a th:href="@{/item/{id}(id=${item.id})}">
                <h3 class="card-title" th:text="${item.title}">Fishing rod</h3>
            </a>

            <div class="card-pricing">
                <div class="price-daily">
                    <span class="amount" th:text="|Euros ${item.pricePerDay}|">€ pricePerDay placeholder</span>
                    <span class="period">/day</span>
                </div>
            </div>
        </div>
    </li>

</body>
</html>